/*MENU HEADER*/
/*Eliminamos los margenes y paddings que agrega el navegador por defecto>*/

@import url('https://fonts.googleapis.com/css?family=Forum|Cardo|Oswald');

* {
    padding: 0;
    margin: 0;
}

header {
    background: #7F152E;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 100;
}
    
nav {
    float: left; /* Desplazamos el nav hacia la izquierda */
}
 
nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
}
 
nav ul li {
    float: left;
    font-family: 'Forum', cursive;
    font-size: 26px;
    text-transform: uppercase;
}

nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 25px;
    color: #fff;
    text-decoration: none;
}
 
nav ul li:hover {
    background: #edae01;
}
    
nav ul li a:active {
    color: black;
}
    
.contenido {
    padding-top: 90px;
}
 
.wrapper {
    width: 80%;
    margin: auto;
    overflow:hidden;
}

body{
    background-color: #FFF;
}

/*IMAGENES EN MOVIMIENTO*/
    .slider{
        width: 95%;
        margin: auto;
        overflow: hidden;
        padding-top: 90px;
    }
    .slider ul{
        text-align: center;
        display: flex;
        width: 300%;
        padding: 0;
        animation: cambio 10s infinite alternate;
    }
    .slider li{
        list-style: none;
        width: 50%;
    }
    .slider img{
        width: 60%;
    }
    
    @keyframes cambio{
        0% {margin-left: 0;}
        30% {margin-left: 0;}
        
        40% {margin-left: -100%;}
        60% {margin-left: -100%;}
        
        70% {margin-left: -200%;}
        100% {margin-left: -200%;}
    }
    
/*DOS*/
    .slider2{
        width: 95%;
        margin: auto;
        overflow: hidden;
        padding-top: 90px;
    }
    .slider2 ul{
        text-align: center;
        display: flex;
        width: 400%;
        padding: 0;
        animation: cambio2 08s infinite alternate;
    }
    .slider2 li{
        list-style: none;
        width: 50%;
    }
    .slider2 img{
        width: 60%;
    }
    
    @keyframes cambio2{
        0% {margin-left: 0;}
        25% {margin-left: 0;}
        
        30% {margin-left: -100%;}
        45% {margin-left: -100%;}
        
        50% {margin-left: -200%;}
        65% {margin-left: -200%;}
        
        70% {margin-left: -300%;}
        100% {margin-left: -300%;}
    }

/*PIE DE PAGINA*/
    footer{
        width: 100%;
        background: #E94F08; 
    }
    .pie p{
        font-family:'Oswald', sans-serif;
        font-size: 26px;
        text-align: right;
        color: white;
        padding-right: 32px;
    }
    .pie small{
        font-family: 'Cardo', serif;
        font-weight: bolder;
        padding-left: 32px;
    }
    .pie a{
        padding-left: 32px;
    }
/*TITULOS Y PARRAFOS GENERAL */

 h1,h2{
            font-family: 'Oswald', sans-serif;
        }
        h1{
            font-size: 32px;
            color: #EDAE01;
        }
        p{
            font-family: 'Cardo', sans-serif;
            font-size: 20px;
            color: #262626;
        }

/*TITULOS PEDIDOS, MENÚ Y FACTURACION*/

h1.formato2{
    
    letter-spacing: 20px;
    line-height: 2.9em;
    outline: 5px dotted black;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center
}

    
/*IMAGENES MENÚ*/    
.wrapper a:hover{
    filter: brightness(130%);
}

/*UBICACION*/
.ubicacion{
    text-align: right;
}
        
.ubicacion a{
    font-family: 'Cardo', sans-serif;
    font-size: 20px;
    color: #262626;
}

.pie a:hover{
    filter: invert(100%);
}


/*BODY DEL RECETARIO*/

h1.productos{
    font: bold 2.5em 'Oswald';
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .35em;
}

#bebidas h2{
    font-size: 1.8em;
    font-family: 'Oswals';
    padding-top: 5em;
}

body{
    font-family: 'Cardo';
    font-size: 1em;
    line-height: 175%
}

dt{
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: .2em;
    text-align: center;
}

p a{
    padding-left: 8em;
    text-decoration: none;
    font-family: 'Cardo';
}

div.platillo {
    width: 80%;
    margin: 5px;
    padding: 1em 5em 0 5em;
    text-align: justify;
    border-radius: 10px;
    line-height: 3em;
    
}

.platillo img {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    
    border-style: solid;
    border-color: #edae01;
}

div.reset {
    clear: both;
}